In [1]:
import pandas as pd
import re
from pathlib import Path
import os
import numpy as np

pd.set_option('display.max_columns', 500)

In [2]:
STATUSES2PROCESS = ['Completed', 'Network Error']

In [3]:
DB_DIR = Path("C:/Playground/bhaiya-orders/zoho-bhor-farms/database/")

In [4]:
from ipyfilechooser import FileChooser

fc = FileChooser("C:/Playground/bhaiya-orders/zoho-bhor-farms/inputs/")
fc.use_dir_icons = True
display(fc)

FileChooser(path='C:/Playground/bhaiya-orders/zoho-bhor-farms/inputs/', filename='', show_hidden='False')

In [5]:
FILE = Path(fc.selected)

In [6]:
try:
    if 'csv' in FILE.suffix: df = pd.read_csv(FILE)
    else: df = pd.read_excel(FILE)
except OSError:
    print("Error occured, invalid file!")

In [7]:
df.head(3)

,Name,Select Drop Point,Select Building Ivory,Select Building Wellness Forever,Select Building NCP,Select Building Ajmera iLand,Select Building Sector 1/2,Select Building Cosmic,Select Wing,Flat No,Phone,Email,Select Delivery Date,Potatoes,Potato Price,Potato Cost Price,Select Quantity of Potatoes,Red Onions,Red Onions Price,Red Onions Cost Price,Select Quantity of Red Onions,Cauliflower,Cauliflower Price,Cauliflower Cost Price,Select Quantity of Cauliflower,Cabbage,Cabbage Price,Cabbage Cost Price,Select Quantity of Cabbage,Brinjal Bharta,Brinjal Bharta Price,Brinjal Bharta Cost Price,Select Quantity of Brinjal Bharta,Pumpkin,Pumpkin Price,Pumpkin Cost Price,Select Quantity of Pumpkin,Brinjal Kateri,Brinjal Kateri Price,Brinjal Kateri Cost Price,Select Quantity of Brinjal Kateri,Cucumber,Cucumber Price,Cucumber Cost Price,Select Quantity of Cucumber,Bhindi/Lady's Finger,Bhindi/Lady's Finger Price,Bhindi/Lady's Finger Cost Price,Select Quantity of Bhindi/Lady's Finger,Bitter Gourd,Bitter Gourd Price,Bitter Gourd Cost Price,Select Quantity of Bitter Gourd,Sponge Gourd,Sponge Gourd Price,Sponge Gourd Cost Price,Select Quantity of Sponge Gourd,Beetroot,Beetroot Price,Beetroot Cost Price,Select Quantity of Beetroot,Tondli,Tondli Price,Tondli Cost Price,Select Quantity of Tondli,Button Mushrooms,Button Mushroom Price,Button Mushroom Cost Price,Select Quantity of Button Mushroom,Raw Banana,Raw Banana Price,Raw Banana Cost Price,Select Quantity of Raw Banana,Bottle Gourd,Bottle Gourd Price,Bottle Gourd Cost Price,Select Quantity of Bottle Gourd,Drumsticks,Drumsticks Price,Drumsticks Cost Price,Select Quantity of Drumsticks,Capsicum,Capsicum Price,Capsicum Cost Price,Select Quantity of Capsicum,Gawar/Cluster Beans,Gawar/Cluster Beans Price,Gawar/Cluster Beans Cost Price,Select Quantity of Gawar/Cluster Beans,French Beans,French Beans Price,French Beans Cost Price,Select Quantity of French Beans,Baby Corn,Baby Corn Price,Baby Corn Cost Price,Select Quantity of Baby Corn,Tomato,Tomato Price,Tomato Cost Price,Select Quantity of Tomato,Cherry Tomatoes,Cherry Tomato Price,Cherry Tomato Cost Price,Select Quantity of Cherry Tomatoes,Sweet Corn,Sweet Corn Price,Sweet Corn Cost Price,Select Quantity of Sweet Corn,Broccoli,Broccoli Price,Broccoli Cost Price,Select Quantity of Broccoli,Lettuce,Lettuce Price,Lettuce Cost Price,Select Quantity of Lettuce,Apples Washington Per Kg,Apples Washington Price,Apples Washington Cost Price,Select Quantity of Apples Washington,VNR Guava,VNR Guava Price,VNR Guava Cost Price,Select Quantity of VNR Guava,Orange Imported,Imported Oranges Price,Imported Oranges Cost Price,Select Quantity of Imported Oranges,Pineapple Whole,Pineapple Whole Price,Pineapple Whole Cost Price,Select Quantity of Pineapple Whole,Kiwi Zespri Imported,Kiwi Zespri Imported Price,Kiwi Zespri Imported Cost Price,Select Quantity of Kiwi Zespri Imported,Banana Regular,Banana Price,Banana Cost Price,Select Quantity of Banana,Garlic,Garlic Price,Garlic Cost Price,Select Quantity of Garlic,GInger,Ginger Price,Ginger Cost Price,Select Quantity of Ginger,Green Chilly,Green Chilly Price,Green Chilly Cost Price,Select Quantity of Green Chilly,Lemons,Lemons Price,Lemons Cost Price,Select Quantity of Lemons,Curry Leaves,Curry Leaves Price,Curry Leaves Cost Price,Select Quantity of Curry Leaves,Coriander Leaves,Coriander Leaves Price,Coriander Leaves Cost Price,Select Quantity of Coriander Leaves,Mint Leaves,Mint Leaves Price,Mint Leaves Cost Price,Select Quantity of Mint Leaves,Lemongrass,Lemongrass Price,Lemongrass Cost Price,Select Quantity of Lemongrass,Palak/Spinach,Palak/Spinach Price,Palak/Spinach Cost Price,Select Quantity of Palak/Spinach,Shepu/Dill Leaves,Shepu/Dill Leaves Price,Shepu/Dill Leaves Cost Price,Select Quantity of Shepu/Dill Leaves,Methi Leaves,Methi Leaves Price,Methi Leaves Cost Price,Select Quantity of Methi Leaves,Red/Yellow Bell Peppers,Red/Yellow Bell Peppers Price,Red/Yellow Bell Peppers Cost Price,Select Quantity of Red/Yellow Bell Peppers,Green Zucchini,Green Zucchini Price,Green Zucchini Cost Price,Select Quantity of Green Zucchini,Yellow Zucchini,Yellow Zucchini Price,Yellow Zucchini Cost Price,Select Quantity of Yellow Zucchini,Arbi Leaves,Arbi Leaves Price,Arbi Leaves Cost Price,Select Quantity of Arbi Leaves,Basil Leaves,Basil Leaves Price,Basil Leaves Cost Price,Select Quantity of Basil Leaves,Arbi/Colocasia,Arbi/Colocasia Price,Arbi/Colocasia Cost Price,Select Quantity of Arbi/Colocasia,Total Amount,Payment Amount,Payment Status,Payment Currency,Added Time,CRM Status,Referrer Name,Task Owner
0,Aakanksha; Kaul,Ivory,Himalayan Heights,NaN,NaN,NaN,NaN,NaN,A Wing,1002,9099996666,vishaldlagad@gmail.com,Sunday Aug 23rd,NaN,36,28,2.0,NaN,18,12,2.0,NaN,45,25,3.0,NaN,24,11,NaN,NaN,28,13,3.0,NaN,20,6,3.0,NaN,35,15,NaN,NaN,24,9,NaN,NaN,25,12,NaN,NaN,17,8,NaN,NaN,25,13,2.0,NaN,20,9,NaN,NaN,14,7,2.0,NaN,60,30,3.0,NaN,25,8,NaN,NaN,28,10,3.0,NaN,25,15,NaN,NaN,40,20,3.0,NaN,17,10,NaN,NaN,40,18,3.0,NaN,60,33,NaN,NaN,45,30,3.0,NaN,40,16,NaN,NaN,35,11,NaN,NaN,85,53,2.0,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,NaN,NaN,180,114,NaN,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,NaN,NaN,50,28,NaN,NaN,32,23,NaN,NaN,20,7,NaN,NaN,15,4,3.0,NaN,5,5,NaN,NaN,40,32,3.0,NaN,10,5,NaN,NaN,10,4,3.0,NaN,30,17,2.0,NaN,28,10,NaN,NaN,48,33,2.0,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,NaN,NaN,40,16,NaN,NaN,40,16,NaN,1625,1625,Completed,INR,19-08-20 00:15,NaN,NaN,sudeep@systematiq.in
1,Aakanksha; Singh,Ivory,Girnar Heights,NaN,NaN,NaN,NaN,NaN,B Wing,403,9999914917,karolia.aakanksha@gmail.com,Mon Aug 24th,NaN,36,28,NaN,NaN,18,12,NaN,NaN,45,25,NaN,NaN,24,11,NaN,NaN,28,13,NaN,NaN,20,6,NaN,NaN,35,15,NaN,NaN,24,9,NaN,NaN,25,12,NaN,NaN,17,8,NaN,NaN,25,13,NaN,NaN,20,9,NaN,NaN,14,7,NaN,NaN,60,30,NaN,NaN,25,8,NaN,NaN,28,10,NaN,NaN,25,15,NaN,NaN,40,20,NaN,NaN,17,10,NaN,NaN,40,18,NaN,NaN,60,33,NaN,NaN,45,30,NaN,NaN,40,16,NaN,NaN,35,11,1.0,NaN,85,53,NaN,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,NaN,NaN,180,114,1.0,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,NaN,NaN,50,28,NaN,NaN,32,23,NaN,NaN,20,7,NaN,NaN,15,4,1.0,NaN,5,5,NaN,NaN,40,32,1.0,NaN,10,5,1.0,NaN,10,4,NaN,NaN,30,17,1.0,NaN,28,10,NaN,NaN,48,33,1.0,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,NaN,NaN,40,16,NaN,NaN,40,16,NaN,358,358,Completed,INR,22-08-20 16:31,New Record - Record added,NaN,sudeep@systematiq.in
2,Aarti; Baliga,Sector 1/2,NaN,NaN,NaN,NaN,Emerald,NaN,Not Applicable,303,9833568843,anbaliga@gmail.com,Sunday Aug 23rd,NaN,36,28,NaN,NaN,18,12,2.0,NaN,45,25,1.0,NaN,24,11,NaN,NaN,28,13,1.0,NaN,20,6,NaN,NaN,35,15,NaN,NaN,24,9,NaN,NaN,25,12,NaN,NaN,17,8,2.0,NaN,25,13,NaN,NaN,20,9,NaN,NaN,14,7,NaN,NaN,60,30,NaN,NaN,25,8,1.0,NaN,28,10,NaN,NaN,25,15,NaN,NaN,40,20,NaN,NaN,17,10,NaN,NaN,40,18,1.0,NaN,60,33,NaN,NaN,45,30,3.0,NaN,40,16,NaN,NaN,35,11,NaN,NaN,85,53,1.0,NaN,35,18,3.0,NaN,250,205,NaN,NaN,120,65,NaN,NaN,180,114,NaN,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,NaN,NaN,50,28,NaN,NaN,32,23,NaN,NaN,20,7,NaN,NaN,15,4,NaN,NaN,5,5,NaN,NaN,40,32,1.0,NaN,10,5,NaN,NaN,10,4,NaN,NaN,30,17,1.0,NaN,28,10,NaN,NaN,48,33,NaN,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,NaN,NaN,40,16,NaN,NaN,40,16,NaN,603,603,Completed,INR,19-08-20 20:22,New Record - Record added,NaN,sudeep@systematiq.in

In [8]:
df['key'] = df['Name'] + ' ' + df['Added Time'].astype(str)

In [9]:
bldg_cols = []

for col in df.columns:
    if 'select building' in col.lower():
        bldg_cols.append(col)

df['building'] = df[bldg_cols].fillna('').sum(axis=1)

In [10]:
df['Payment Status'].unique()

array(['Completed', 'Network Error'], dtype=object)

In [11]:
df = df[df['Payment Status'].isin(STATUSES2PROCESS)]

In [12]:
# verification
df['Payment Status'].unique()

array(['Completed', 'Network Error'], dtype=object)

In [13]:
df = df.sort_values(['Select Drop Point', 'building', 'Select Wing'])
df['Token No'] = range(1, len(df)+1)

In [14]:
assert len(df) == len(df['key'].unique())

In [15]:
# extremely naive, needs a fix
all_items = [" ".join(i.split()[3:]) for i in df.columns if 'quantity of' in i.lower()]

In [16]:
def get_sell_price(item):
    val = df[item + ' ' + 'Price'].values[0]
    return val

def get_cost_price(item):
    val = df[item + ' ' + 'Cost Price'].values[0]
    return val

In [17]:
df_psize = pd.read_csv("C:/Playground/bhaiya-orders/zoho-bhor-farms/database/Packing Size.csv")
psize_dict = df_psize.set_index('Item').to_dict(orient='index')

In [18]:
def get_packing_size(item):
    if item in psize_dict.keys():
        return psize_dict[item]['Size']
    return -1 # => not supplied

def get_unit(item):
    if item in psize_dict.keys():
        return psize_dict[item]['Unit']
    return -1

In [19]:
items_dict = {}

for item in all_items:
    dct = {}
    dct['packing_size'] = get_packing_size(item)
    dct['unit'] = get_unit(item)
    if item == 'Cherry Tomatoes': item = 'Cherry Tomato'
    if item == 'Potatoes': item = 'Potato'
    
    dct['sell_price'] = get_sell_price(item)
    dct['cost_price'] = get_cost_price(item)
    dct['date'] = df['Select Delivery Date'].unique()[0]
    
    items_dict[item] = dct

## Creating Items Database

In [20]:
items_df = pd.DataFrame.from_dict(items_dict).T
items_df['date'] = pd.to_datetime(items_df.date.apply(lambda x: (x[:-2] + ' 2020')), format='%a %b %d %Y')
items_df.head()

               packing_size    unit sell_price cost_price       date
Potato                    1      Kg         36         28 2020-08-24
Red Onions                1      Kg         18         12 2020-08-24
Cauliflower               1  Pieces         45         25 2020-08-24
Cabbage                   1  Pieces         24         11 2020-08-24
Brinjal Bharta            1  Pieces         28         13 2020-08-24

### Psize Database

In [21]:
PSIZEDB_PATH = DB_DIR/'items/psize.csv'

In [22]:
ddf = items_df.copy(deep=True)

In [23]:
ddf[str(ddf.date[0]).split()[0]] = ddf['packing_size'].astype(str) + ';' + ddf['unit']

In [24]:
ddf.drop(columns=['date', 'sell_price', 'cost_price', 'packing_size', 'unit'], inplace=True)
ddf.head()

                2020-08-24
Potato              1.0;Kg
Red Onions          1.0;Kg
Cauliflower     1.0;Pieces
Cabbage         1.0;Pieces
Brinjal Bharta  1.0;Pieces

In [25]:
if not os.path.exists(PSIZEDB_PATH):
    ddf.to_csv(PSIZEDB_PATH, index_label='item_key')

else:
    (pd.concat([pd.read_csv(PSIZEDB_PATH, index_col='item_key'),
     ddf], axis=1, sort=True).to_csv(PSIZEDB_PATH, index_label='item_key'))

### Selling Price Database

In [26]:
SPDB_PATH = DB_DIR/'items/sell-price.csv'

In [27]:
ddf = items_df.copy(deep=True)

In [28]:
ddf[str(ddf.date[0]).split()[0]] = ddf['sell_price'].astype(float)

In [29]:
ddf.drop(columns=['date', 'sell_price', 'cost_price', 'packing_size', 'unit'], inplace=True)
ddf.head()

                2020-08-24
Potato                36.0
Red Onions            18.0
Cauliflower           45.0
Cabbage               24.0
Brinjal Bharta        28.0

In [30]:
if not os.path.exists(SPDB_PATH):
    ddf.to_csv(SPDB_PATH, index_label='item_key')

else:
    (pd.concat([pd.read_csv(SPDB_PATH, index_col='item_key'),
     ddf], axis=1, sort=True).to_csv(SPDB_PATH, index_label='item_key'))

### Cost Price Database

In [31]:
CPDB_PATH = DB_DIR/'items/cost-price.csv'

In [32]:
ddf = items_df.copy(deep=True)

In [33]:
ddf[str(ddf.date[0]).split()[0]] = ddf['cost_price'].astype(float)

In [34]:
ddf.drop(columns=['date', 'sell_price', 'cost_price', 'packing_size', 'unit'], inplace=True)
ddf.head()

                2020-08-24
Potato                28.0
Red Onions            12.0
Cauliflower           25.0
Cabbage               11.0
Brinjal Bharta        13.0

In [35]:
if not os.path.exists(CPDB_PATH):
    ddf.to_csv(CPDB_PATH, index_label='item_key')

else:
    (pd.concat([pd.read_csv(CPDB_PATH, index_col='item_key'),
     ddf], axis=1, sort=True).to_csv(CPDB_PATH, index_label='item_key'))

# Temp Fin

In [42]:
df.fillna(0, inplace=True)

In [43]:
# create a mapping from item_id to the corresponding column to make sure no item goes unmapped

item2dropdowncol = {i : '' for i in all_items}

for index, row in df.iterrows():
    for col in df.columns:
        if 'quantity of' in col.lower():
            item2dropdowncol[" ".join(col.split()[3:])] = col
            
assert len(item2dropdowncol) == len(all_items)
for k, v in item2dropdowncol.items():
    assert len(v) > 3

In [44]:
def get_order(row):
    o = {}
    for item, qty_col in item2dropdowncol.items():
#         try:
        if row[qty_col] > 0:
            o[item] = row[qty_col]
#         except:
#             i = 'hello'
            
    return o

In [45]:
def get_total_cost_price(order):
    totalcp = 0
    for item, qty in order.items():
        if item == 'Cherry Tomatoes': item = 'Cherry Tomato'
        if item == 'Potatoes': item = 'Potato'
        totalcp += qty * get_cost_price(item)
    return totalcp

In [46]:
orders_dict = {}

for index, row in df.iterrows():
    dct = {}
    dct['name'] = row['Name']
    dct['drop_point'] = row['Select Drop Point']
    dct['building'] = row['building']
    dct['wing'] = row['Select Wing']
    dct['flat_no'] = row['Flat No']
    dct['phone_no'] = row['Phone']
    dct['email'] = row['Email']
    dct['delivery_date'] = row['Select Delivery Date']
    dct['total_amount'] = row['Total Amount']
    dct['payment_status'] = row['Payment Status']
    dct['order'] = get_order(row)
    dct['total_cost_price'] = get_total_cost_price(dct['order'])
    dct['profit'] = dct['total_amount'] - dct['total_cost_price']
    orders_dict[row['Token No']] = dct