In [1]:
import pandas as pd
import re
from pathlib import Path
import os
import numpy as np

pd.set_option('display.max_columns', 500)

In [2]:
OUTPUT_DIR = Path("C:/Playground/bhaiya-orders/zoho-bhor-farms/outputs/")

In [3]:
from ipyfilechooser import FileChooser

fc = FileChooser("C:/Playground/bhaiya-orders/zoho-bhor-farms/inputs/")
fc.use_dir_icons = True
display(fc)

FileChooser(path='C:/Playground/bhaiya-orders/zoho-bhor-farms/inputs/', filename='', show_hidden='False')

In [4]:
FILE = Path(fc.selected)

In [5]:
df = pd.read_csv(FILE)

In [6]:
df.head()

,Name,Select Drop Point,Select Building Ivory,Select Building Wellness Forever,Select Building NCP,Select Building Ajmera iLand,Select Building Sector 1/2,Select Building Cosmic,Select Wing,Flat No,Phone,Email,Select Delivery Date,Potatoes,Potato Price,Potato Cost Price,Select Quantity of Potatoes,Red Onions,Red Onions Price,Red Onions Cost Price,Select Quantity of Red Onions,Cauliflower,Cauliflower Price,Cauliflower Cost Price,Select Quantity of Cauliflower,Cabbage,Cabbage Price,Cabbage Cost Price,Select Quantity of Cabbage,Brinjal Bharta,Brinjal Bharta Price,Brinjal Bharta Cost Price,Select Quantity of Brinjal Bharta,Pumpkin,Pumpkin Price,Pumpkin Cost Price,Select Quantity of Pumpkin,Brinjal Kateri,Brinjal Kateri Price,Brinjal Kateri Cost Price,Select Quantity of Brinjal Kateri,Cucumber,Cucumber Price,Cucumber Cost Price,Select Quantity of Cucumber,Bhindi/Lady's Finger,Bhindi/Lady's Finger Price,Bhindi/Lady's Finger Cost Price,Select Quantity of Bhindi/Lady's Finger,Bitter Gourd,Bitter Gourd Price,Bitter Gourd Cost Price,Select Quantity of Bitter Gourd,Sponge Gourd,Sponge Gourd Price,Sponge Gourd Cost Price,Select Quantity of Sponge Gourd,Beetroot,Beetroot Price,Beetroot Cost Price,Select Quantity of Beetroot,Tondli,Tondli Price,Tondli Cost Price,Select Quantity of Tondli,Button Mushrooms,Button Mushroom Price,Button Mushroom Cost Price,Select Quantity of Button Mushroom,Raw Banana,Raw Banana Price,Raw Banana Cost Price,Select Quantity of Raw Banana,Bottle Gourd,Bottle Gourd Price,Bottle Gourd Cost Price,Select Quantity of Bottle Gourd,Drumsticks,Drumsticks Price,Drumsticks Cost Price,Select Quantity of Drumsticks,Capsicum,Capsicum Price,Capsicum Cost Price,Select Quantity of Capsicum,Gawar/Cluster Beans,Gawar/Cluster Beans Price,Gawar/Cluster Beans Cost Price,Select Quantity of Gawar/Cluster Beans,French Beans,French Beans Price,French Beans Cost Price,Select Quantity of French Beans,Baby Corn,Baby Corn Price,Baby Corn Cost Price,Select Quantity of Baby Corn,Tomato,Tomato Price,Tomato Cost Price,Select Quantity of Tomato,Cherry Tomatoes,Cherry Tomato Price,Cherry Tomato Cost Price,Select Quantity of Cherry Tomatoes,Sweet Corn,Sweet Corn Price,Sweet Corn Cost Price,Select Quantity of Sweet Corn,Broccoli,Broccoli Price,Broccoli Cost Price,Select Quantity of Broccoli,Lettuce,Lettuce Price,Lettuce Cost Price,Select Quantity of Lettuce,Apples Washington Per Kg,Apples Washington Price,Apples Washington Cost Price,Select Quantity of Apples Washington,VNR Guava,VNR Guava Price,VNR Guava Cost Price,Select Quantity of VNR Guava,Orange Imported,Imported Oranges Price,Imported Oranges Cost Price,Select Quantity of Imported Oranges,Pineapple Whole,Pineapple Whole Price,Pineapple Whole Cost Price,Select Quantity of Pineapple Whole,Kiwi Zespri Imported,Kiwi Zespri Imported Price,Kiwi Zespri Imported Cost Price,Select Quantity of Kiwi Zespri Imported,Banana Regular,Banana Price,Banana Cost Price,Select Quantity of Banana,Garlic,Garlic Price,Garlic Cost Price,Select Quantity of Garlic,GInger,Ginger Price,Ginger Cost Price,Select Quantity of Ginger,Green Chilly,Green Chilly Price,Green Chilly Cost Price,Select Quantity of Green Chilly,Lemons,Lemons Price,Lemons Cost Price,Select Quantity of Lemons,Curry Leaves,Curry Leaves Price,Curry Leaves Cost Price,Select Quantity of Curry Leaves,Coriander Leaves,Coriander Leaves Price,Coriander Leaves Cost Price,Select Quantity of Coriander Leaves,Mint Leaves,Mint Leaves Price,Mint Leaves Cost Price,Select Quantity of Mint Leaves,Lemongrass,Lemongrass Price,Lemongrass Cost Price,Select Quantity of Lemongrass,Palak/Spinach,Palak/Spinach Price,Palak/Spinach Cost Price,Select Quantity of Palak/Spinach,Shepu/Dill Leaves,Shepu/Dill Leaves Price,Shepu/Dill Leaves Cost Price,Select Quantity of Shepu/Dill Leaves,Methi Leaves,Methi Leaves Price,Methi Leaves Cost Price,Select Quantity of Methi Leaves,Red/Yellow Bell Peppers,Red/Yellow Bell Peppers Price,Red/Yellow Bell Peppers Cost Price,Select Quantity of Red/Yellow Bell Peppers,Green Zucchini,Green Zucchini Price,Green Zucchini Cost Price,Select Quantity of Green Zucchini,Yellow Zucchini,Yellow Zucchini Price,Yellow Zucchini Cost Price,Select Quantity of Yellow Zucchini,Arbi Leaves,Arbi Leaves Price,Arbi Leaves Cost Price,Select Quantity of Arbi Leaves,Basil Leaves,Basil Leaves Price,Basil Leaves Cost Price,Select Quantity of Basil Leaves,Arbi/Colocasia,Arbi/Colocasia Price,Arbi/Colocasia Cost Price,Select Quantity of Arbi/Colocasia,Total Amount,Payment Amount,Payment Status,Payment Currency,Added Time,CRM Status,Referrer Name,Task Owner
0,Praveen; Sangal,Lodha NCP,NaN,NaN,Tower 7,NaN,NaN,NaN,B Wing,1504,9820974386,Praveensangal@gmail.com,Thursday Aug 20th,NaN,36,28,2.0,NaN,18,12,1.0,NaN,45,25,NaN,NaN,24,11,1.0,NaN,28,13,NaN,NaN,20,6,NaN,NaN,35,15,NaN,NaN,24,9,NaN,NaN,25,12,1.0,NaN,17,8,NaN,NaN,25,13,1.0,NaN,20,9,NaN,NaN,14,7,1.0,NaN,60,30,NaN,NaN,25,8,NaN,NaN,28,10,1.0,NaN,25,15,NaN,NaN,40,20,NaN,NaN,17,10,NaN,NaN,40,18,NaN,NaN,60,33,NaN,NaN,45,30,NaN,NaN,40,16,NaN,NaN,35,11,NaN,NaN,85,53,NaN,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,NaN,NaN,180,114,NaN,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,1.0,NaN,50,28,NaN,NaN,32,23,NaN,NaN,20,7,1.0,NaN,15,4,3.0,NaN,5,5,NaN,NaN,40,32,1.0,NaN,10,5,NaN,NaN,10,4,NaN,NaN,30,17,NaN,NaN,28,10,NaN,NaN,48,33,NaN,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,NaN,NaN,40,16,NaN,NaN,40,16,1.0,373,373.0,Completed,INR,18/08/2020 00:12:46,New Record - Record added,NaN,sudeep@systematiq.in
1,Arita; Goyal,Ivory,Julian Alps,NaN,NaN,NaN,NaN,NaN,B Wing,801,9819640397,Agstoring@gmail.com,Thursday Aug 20th,NaN,36,28,NaN,NaN,18,12,NaN,NaN,45,25,NaN,NaN,24,11,NaN,NaN,28,13,NaN,NaN,20,6,NaN,NaN,35,15,NaN,NaN,24,9,NaN,NaN,25,12,NaN,NaN,17,8,NaN,NaN,25,13,NaN,NaN,20,9,NaN,NaN,14,7,NaN,NaN,60,30,NaN,NaN,25,8,NaN,NaN,28,10,1.0,NaN,25,15,1.0,NaN,40,20,NaN,NaN,17,10,2.0,NaN,40,18,NaN,NaN,60,33,NaN,NaN,45,30,NaN,NaN,40,16,NaN,NaN,35,11,NaN,NaN,85,53,NaN,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,1.0,NaN,180,114,NaN,NaN,85,50,NaN,NaN,95,78,2.0,NaN,22,10,NaN,NaN,50,28,NaN,NaN,32,23,NaN,NaN,20,7,NaN,NaN,15,4,NaN,NaN,5,5,NaN,NaN,40,32,NaN,NaN,10,5,NaN,NaN,10,4,1.0,NaN,30,17,NaN,NaN,28,10,NaN,NaN,48,33,NaN,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,NaN,NaN,40,16,NaN,NaN,40,16,NaN,407,407.0,Completed,INR,17/08/2020 23:47:23,New Record - Record added,NaN,sudeep@systematiq.in
2,Jyoti; Pawar,Ivory,Himalayan Heights,NaN,NaN,NaN,NaN,NaN,B Wing,403,9820443623,juc2525@gmail.com,Thursday Aug 20th,NaN,36,28,NaN,NaN,18,12,NaN,NaN,45,25,1.0,NaN,24,11,1.0,NaN,28,13,NaN,NaN,20,6,NaN,NaN,35,15,1.0,NaN,24,9,NaN,NaN,25,12,NaN,NaN,17,8,NaN,NaN,25,13,NaN,NaN,20,9,1.0,NaN,14,7,NaN,NaN,60,30,NaN,NaN,25,8,NaN,NaN,28,10,NaN,NaN,25,15,2.0,NaN,40,20,1.0,NaN,17,10,1.0,NaN,40,18,1.0,NaN,60,33,NaN,NaN,45,30,NaN,NaN,40,16,NaN,NaN,35,11,1.0,NaN,85,53,NaN,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,NaN,NaN,180,114,NaN,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,NaN,NaN,50,28,NaN,NaN,32,23,NaN,NaN,20,7,NaN,NaN,15,4,1.0,NaN,5,5,2.0,NaN,40,32,NaN,NaN,10,5,NaN,NaN,10,4,1.0,NaN,30,17,NaN,NaN,28,10,NaN,NaN,48,33,NaN,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,1.0,NaN,40,16,NaN,NaN,40,16,NaN,361,361.0,Completed,INR,17/08/2020 23:31:17,New Record - Record added,NaN,sudeep@systematiq.in
3,mohit; bedi,Lodha NCP,NaN,NaN,Tower 5,NaN,NaN,NaN,A Wing,101,9920028886,mohitbedi@yahoo.com,Thursday Aug 20th,NaN,36,28,2.0,NaN,18,12,3.0,NaN,45,25,NaN,NaN,24,11,NaN,NaN,28,13,NaN,NaN,20,6,1.0,NaN,35,15,NaN,NaN,24,9,NaN,NaN,25,12,1.0,NaN,17,8,1.0,NaN,25,13,1.0,NaN,20,9,NaN,NaN,14,7,NaN,NaN,60,30,NaN,NaN,25,8,NaN,NaN,28,10,NaN,NaN,25,15,NaN,NaN,40,20,NaN,NaN,17,10,NaN,NaN,40,18,1.0,NaN,60,33,NaN,NaN,45,30,NaN,NaN,40,16,NaN,NaN,35,11,NaN,NaN,85,53,NaN,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,1.0,NaN,180,114,NaN,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,1.0,NaN,50,28,1.0,NaN,32,23,1.0,NaN,20,7,NaN,NaN,15,4,1.0,NaN,5,5,NaN,NaN,40,32,1.0,NaN,10,5,NaN,NaN,10,4,NaN,NaN,30,17,1.0,NaN,28,10,NaN,NaN,48,33,NaN,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,NaN,NaN,40,16,NaN,NaN,40,16,1.0,602,602.0,Processing,INR,17/08/2020 23:06:53,NaN,NaN,sudeep@systematiq.in
4,Vijay; Vala,Sector 1/2,NaN,NaN,NaN,NaN,Castle Rock,NaN,Not Applicable,701,9820201384,vimalavala@gmail.com,Thursday Aug 20th,NaN,36,28,NaN,NaN,18,12,NaN,NaN,45,25,1.0,NaN,24,11,1.0,NaN,28,13,2.0,NaN,20,6,1.0,NaN,35,15,NaN,NaN,24,9,1.0,NaN,25,12,1.0,NaN,17,8,1.0,NaN,25,13,NaN,NaN,20,9,NaN,NaN,14,7,1.0,NaN,60,30,NaN,NaN,25,8,NaN,NaN,28,10,1.0,NaN,25,15,1.0,NaN,40,20,1.0,NaN,17,10,NaN,NaN,40,18,1.0,NaN,60,33,NaN,NaN,45,30,1.0,NaN,40,16,NaN,NaN,35,11,NaN,NaN,85,53,NaN,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,NaN,NaN,180,114,NaN,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,NaN,NaN,50,28,1.0,NaN,32,23,NaN,NaN,20,7,NaN,NaN,15,4,NaN,NaN,5,5,1.0,NaN,40,32,NaN,NaN,10,5,NaN,NaN,10,4,NaN,NaN,30,17,NaN,NaN,28,10,NaN,NaN,48,33,NaN,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,NaN,NaN,40,16,NaN,NaN,40,16,NaN,458,458.0,Completed,INR,17/08/2020 22:44:37,New Record - Record added,NaN,sudeep@systematiq.in

## Add indexing key

In [7]:
df['key'] = df['Name'] + ' ' + df['Added Time']
assert len(df) == len(df.key.unique()) # fail => duplicate entry present

In [8]:
bldg_cols = df.columns[2:8]
df['building'] = df[bldg_cols].fillna('').sum(axis=1)

In [9]:
df = df.sort_values(['Select Drop Point', 'building', 'Select Wing'])

In [10]:
df['Token No'] = range(1, len(df)+1)

In [11]:
df.head()

,Name,Select Drop Point,Select Building Ivory,Select Building Wellness Forever,Select Building NCP,Select Building Ajmera iLand,Select Building Sector 1/2,Select Building Cosmic,Select Wing,Flat No,Phone,Email,Select Delivery Date,Potatoes,Potato Price,Potato Cost Price,Select Quantity of Potatoes,Red Onions,Red Onions Price,Red Onions Cost Price,Select Quantity of Red Onions,Cauliflower,Cauliflower Price,Cauliflower Cost Price,Select Quantity of Cauliflower,Cabbage,Cabbage Price,Cabbage Cost Price,Select Quantity of Cabbage,Brinjal Bharta,Brinjal Bharta Price,Brinjal Bharta Cost Price,Select Quantity of Brinjal Bharta,Pumpkin,Pumpkin Price,Pumpkin Cost Price,Select Quantity of Pumpkin,Brinjal Kateri,Brinjal Kateri Price,Brinjal Kateri Cost Price,Select Quantity of Brinjal Kateri,Cucumber,Cucumber Price,Cucumber Cost Price,Select Quantity of Cucumber,Bhindi/Lady's Finger,Bhindi/Lady's Finger Price,Bhindi/Lady's Finger Cost Price,Select Quantity of Bhindi/Lady's Finger,Bitter Gourd,Bitter Gourd Price,Bitter Gourd Cost Price,Select Quantity of Bitter Gourd,Sponge Gourd,Sponge Gourd Price,Sponge Gourd Cost Price,Select Quantity of Sponge Gourd,Beetroot,Beetroot Price,Beetroot Cost Price,Select Quantity of Beetroot,Tondli,Tondli Price,Tondli Cost Price,Select Quantity of Tondli,Button Mushrooms,Button Mushroom Price,Button Mushroom Cost Price,Select Quantity of Button Mushroom,Raw Banana,Raw Banana Price,Raw Banana Cost Price,Select Quantity of Raw Banana,Bottle Gourd,Bottle Gourd Price,Bottle Gourd Cost Price,Select Quantity of Bottle Gourd,Drumsticks,Drumsticks Price,Drumsticks Cost Price,Select Quantity of Drumsticks,Capsicum,Capsicum Price,Capsicum Cost Price,Select Quantity of Capsicum,Gawar/Cluster Beans,Gawar/Cluster Beans Price,Gawar/Cluster Beans Cost Price,Select Quantity of Gawar/Cluster Beans,French Beans,French Beans Price,French Beans Cost Price,Select Quantity of French Beans,Baby Corn,Baby Corn Price,Baby Corn Cost Price,Select Quantity of Baby Corn,Tomato,Tomato Price,Tomato Cost Price,Select Quantity of Tomato,Cherry Tomatoes,Cherry Tomato Price,Cherry Tomato Cost Price,Select Quantity of Cherry Tomatoes,Sweet Corn,Sweet Corn Price,Sweet Corn Cost Price,Select Quantity of Sweet Corn,Broccoli,Broccoli Price,Broccoli Cost Price,Select Quantity of Broccoli,Lettuce,Lettuce Price,Lettuce Cost Price,Select Quantity of Lettuce,Apples Washington Per Kg,Apples Washington Price,Apples Washington Cost Price,Select Quantity of Apples Washington,VNR Guava,VNR Guava Price,VNR Guava Cost Price,Select Quantity of VNR Guava,Orange Imported,Imported Oranges Price,Imported Oranges Cost Price,Select Quantity of Imported Oranges,Pineapple Whole,Pineapple Whole Price,Pineapple Whole Cost Price,Select Quantity of Pineapple Whole,Kiwi Zespri Imported,Kiwi Zespri Imported Price,Kiwi Zespri Imported Cost Price,Select Quantity of Kiwi Zespri Imported,Banana Regular,Banana Price,Banana Cost Price,Select Quantity of Banana,Garlic,Garlic Price,Garlic Cost Price,Select Quantity of Garlic,GInger,Ginger Price,Ginger Cost Price,Select Quantity of Ginger,Green Chilly,Green Chilly Price,Green Chilly Cost Price,Select Quantity of Green Chilly,Lemons,Lemons Price,Lemons Cost Price,Select Quantity of Lemons,Curry Leaves,Curry Leaves Price,Curry Leaves Cost Price,Select Quantity of Curry Leaves,Coriander Leaves,Coriander Leaves Price,Coriander Leaves Cost Price,Select Quantity of Coriander Leaves,Mint Leaves,Mint Leaves Price,Mint Leaves Cost Price,Select Quantity of Mint Leaves,Lemongrass,Lemongrass Price,Lemongrass Cost Price,Select Quantity of Lemongrass,Palak/Spinach,Palak/Spinach Price,Palak/Spinach Cost Price,Select Quantity of Palak/Spinach,Shepu/Dill Leaves,Shepu/Dill Leaves Price,Shepu/Dill Leaves Cost Price,Select Quantity of Shepu/Dill Leaves,Methi Leaves,Methi Leaves Price,Methi Leaves Cost Price,Select Quantity of Methi Leaves,Red/Yellow Bell Peppers,Red/Yellow Bell Peppers Price,Red/Yellow Bell Peppers Cost Price,Select Quantity of Red/Yellow Bell Peppers,Green Zucchini,Green Zucchini Price,Green Zucchini Cost Price,Select Quantity of Green Zucchini,Yellow Zucchini,Yellow Zucchini Price,Yellow Zucchini Cost Price,Select Quantity of Yellow Zucchini,Arbi Leaves,Arbi Leaves Price,Arbi Leaves Cost Price,Select Quantity of Arbi Leaves,Basil Leaves,Basil Leaves Price,Basil Leaves Cost Price,Select Quantity of Basil Leaves,Arbi/Colocasia,Arbi/Colocasia Price,Arbi/Colocasia Cost Price,Select Quantity of Arbi/Colocasia,Total Amount,Payment Amount,Payment Status,Payment Currency,Added Time,CRM Status,Referrer Name,Task Owner,key,building,Token No
44,Juhi; Sethi,Ajmera iLand,NaN,NaN,NaN,Zeon,NaN,NaN,B Wing,NaN,9967052439,Aqua1379@gmail.com,Thursday Aug 20th,NaN,36,28,NaN,NaN,18,12,2.0,NaN,45,25,1.0,NaN,24,11,NaN,NaN,28,13,2.0,NaN,20,6,2.0,NaN,35,15,1.0,NaN,24,9,1.0,NaN,25,12,1.0,NaN,17,8,NaN,NaN,25,13,NaN,NaN,20,9,NaN,NaN,14,7,NaN,NaN,60,30,1.0,NaN,25,8,NaN,NaN,28,10,NaN,NaN,25,15,NaN,NaN,40,20,NaN,NaN,17,10,NaN,NaN,40,18,1.0,NaN,60,33,NaN,NaN,45,30,2.0,NaN,40,16,NaN,NaN,35,11,NaN,NaN,85,53,1.0,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,1.0,NaN,180,114,NaN,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,NaN,NaN,50,28,NaN,NaN,32,23,1.0,NaN,20,7,NaN,NaN,15,4,1.0,NaN,5,5,1.0,NaN,40,32,1.0,NaN,10,5,NaN,NaN,10,4,NaN,NaN,30,17,NaN,NaN,28,10,NaN,NaN,48,33,NaN,NaN,130,92,1.0,NaN,30,10,1.0,NaN,30,14,NaN,NaN,20,5,NaN,NaN,40,16,1.0,NaN,40,16,NaN,948,948.0,Completed,INR,17/08/2020 19:24:18,New Record - Record added,NaN,sudeep@systematiq.in,Juhi; Sethi 17/08/2020 19:24:18,Zeon,1
32,Lynet; Fernandes,Cosmic,NaN,NaN,NaN,NaN,NaN,Comet,C Wing,203,9821141846,Fernandeslynet@gmail.com,Thursday Aug 20th,NaN,36,28,1.0,NaN,18,12,1.0,NaN,45,25,1.0,NaN,24,11,1.0,NaN,28,13,NaN,NaN,20,6,NaN,NaN,35,15,NaN,NaN,24,9,NaN,NaN,25,12,NaN,NaN,17,8,1.0,NaN,25,13,NaN,NaN,20,9,NaN,NaN,14,7,1.0,NaN,60,30,NaN,NaN,25,8,NaN,NaN,28,10,NaN,NaN,25,15,NaN,NaN,40,20,NaN,NaN,17,10,NaN,NaN,40,18,NaN,NaN,60,33,NaN,NaN,45,30,1.0,NaN,40,16,NaN,NaN,35,11,NaN,NaN,85,53,NaN,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,1.0,NaN,180,114,NaN,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,NaN,NaN,50,28,NaN,NaN,32,23,NaN,NaN,20,7,NaN,NaN,15,4,2.0,NaN,5,5,1.0,NaN,40,32,NaN,NaN,10,5,NaN,NaN,10,4,NaN,NaN,30,17,NaN,NaN,28,10,NaN,NaN,48,33,NaN,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,NaN,NaN,40,16,NaN,NaN,40,16,NaN,354,354.0,Completed,INR,17/08/2020 20:15:35,New Record - Record added,NaN,sudeep@systematiq.in,Lynet; Fernandes 17/08/2020 20:15:35,Comet,2
45,Carrieanne; Rodrigues,Cosmic,NaN,NaN,NaN,NaN,NaN,Comet,C Wing,NaN,9819448185,carriesavio@gmail.com,Thursday Aug 20th,NaN,36,28,2.0,NaN,18,12,3.0,NaN,45,25,1.0,NaN,24,11,1.0,NaN,28,13,1.0,NaN,20,6,NaN,NaN,35,15,NaN,NaN,24,9,1.0,NaN,25,12,1.0,NaN,17,8,NaN,NaN,25,13,NaN,NaN,20,9,NaN,NaN,14,7,NaN,NaN,60,30,NaN,NaN,25,8,NaN,NaN,28,10,NaN,NaN,25,15,1.0,NaN,40,20,NaN,NaN,17,10,NaN,NaN,40,18,NaN,NaN,60,33,NaN,NaN,45,30,1.0,NaN,40,16,NaN,NaN,35,11,NaN,NaN,85,53,NaN,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,1.0,NaN,180,114,1.0,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,1.0,NaN,50,28,NaN,NaN,32,23,NaN,NaN,20,7,NaN,NaN,15,4,NaN,NaN,5,5,NaN,NaN,40,32,NaN,NaN,10,5,NaN,NaN,10,4,NaN,NaN,30,17,NaN,NaN,28,10,NaN,NaN,48,33,NaN,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,NaN,NaN,40,16,NaN,NaN,40,16,NaN,664,664.0,Completed,INR,17/08/2020 19:20:22,New Record - Record added,NaN,sudeep@systematiq.in,Carrieanne; Rodrigues 17/08/2020 19:20:22,Comet,3
5,Pratima; Shahiwalla,Cosmic,NaN,NaN,NaN,NaN,NaN,Cosmic Heights,A Wing,1805,8291999397,Pratimashahiwalla@gmail.com,Thursday Aug 20th,NaN,36,28,2.0,NaN,18,12,NaN,NaN,45,25,1.0,NaN,24,11,NaN,NaN,28,13,1.0,NaN,20,6,1.0,NaN,35,15,NaN,NaN,24,9,1.0,NaN,25,12,NaN,NaN,17,8,NaN,NaN,25,13,NaN,NaN,20,9,NaN,NaN,14,7,NaN,NaN,60,30,NaN,NaN,25,8,NaN,NaN,28,10,NaN,NaN,25,15,NaN,NaN,40,20,1.0,NaN,17,10,NaN,NaN,40,18,NaN,NaN,60,33,NaN,NaN,45,30,NaN,NaN,40,16,NaN,NaN,35,11,NaN,NaN,85,53,NaN,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,NaN,NaN,180,114,NaN,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,1.0,NaN,50,28,NaN,NaN,32,23,NaN,NaN,20,7,NaN,NaN,15,4,1.0,NaN,5,5,NaN,NaN,40,32,2.0,NaN,10,5,1.0,NaN,10,4,NaN,NaN,30,17,NaN,NaN,28,10,NaN,NaN,48,33,NaN,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,1.0,NaN,40,16,NaN,NaN,40,16,NaN,376,376.0,Processing,INR,17/08/2020 22:43:12,NaN,NaN,sudeep@systematiq.in,Pratima; Shahiwalla 17/08/2020 22:43:12,Cosmic Heights,4
17,Poonam; Shwh,Cosmic,NaN,NaN,NaN,NaN,NaN,Cosmic Heights,A Wing,1704,9833627878,poonam15172000@gmail.com,Thursday Aug 20th,NaN,36,28,3.0,NaN,18,12,NaN,NaN,45,25,1.0,NaN,24,11,NaN,NaN,28,13,1.0,NaN,20,6,NaN,NaN,35,15,NaN,NaN,24,9,NaN,NaN,25,12,1.0,NaN,17,8,NaN,NaN,25,13,NaN,NaN,20,9,NaN,NaN,14,7,NaN,NaN,60,30,NaN,NaN,25,8,NaN,NaN,28,10,NaN,NaN,25,15,NaN,NaN,40,20,NaN,NaN,17,10,NaN,NaN,40,18,NaN,NaN,60,33,NaN,NaN,45,30,1.0,NaN,40,16,NaN,NaN,35,11,NaN,NaN,85,53,NaN,NaN,35,18,NaN,NaN,250,205,NaN,NaN,120,65,NaN,NaN,180,114,NaN,NaN,85,50,NaN,NaN,95,78,NaN,NaN,22,10,1.0,NaN,50,28,NaN,NaN,32,23,1.0,NaN,20,7,NaN,NaN,15,4,NaN,NaN,5,5,NaN,NaN,40,32,1.0,NaN,10,5,1.0,NaN,10,4,NaN,NaN,30,17,NaN,NaN,28,10,NaN,NaN,48,33,NaN,NaN,130,92,NaN,NaN,30,10,NaN,NaN,30,14,NaN,NaN,20,5,NaN,NaN,40,16,NaN,NaN,40,16,NaN,355,355.0,Completed,INR,17/08/2020 20:59:45,New Record - Record added,NaN,sudeep@systematiq.in,Poonam; Shwh 17/08/2020 20:59:45,Cosmic Heights,5

In [12]:
df['Payment Status'].unique()

array(['Completed', 'Processing', 'Failed'], dtype=object)

## Subset only successfully paid orders

In [13]:
df = df[df['Payment Status'].isin(['Completed', 'Processing'])]

In [14]:
df['Payment Status'].unique()

array(['Completed', 'Processing'], dtype=object)

## Check key uniqueness

In [15]:
assert len(df) == len(df['key'].unique())

## Build dictionary

    orders dictionary, one record looks like:

    {
        key:
        {
            name : str,
            drop_point : str,
            building : str,
            wing : str,
            flat : str,
            phone : numeric,
            email : str,
            delivery_date : datetime,
            order : dict,
            total_amount : float,
            payment_status : str
        }
    }


    items_dict:

    {
        item_name : 
        {
            sell_price : float,
            cost_price : float,
            packing_size : // to be read from another excel
        }
    }

In [16]:
# # ask bhaiya
# alt_all_items = []
# for i, col in enumerate(df.columns):
#     if 'select quantity of' in col.lower():
#         alt_all_items.append(df.columns[i-3])

In [17]:
# extremely naive, needs a fix
all_items = [i[19:] for i in df.columns if 'quantity of' in i.lower()]

In [18]:
all_items[:5]

['Potatoes', 'Red Onions', 'Cauliflower', 'Cabbage', 'Brinjal Bharta']

In [19]:
items_dict = {}

In [20]:
def get_sell_price(item):
    val = df[item + ' ' + 'Price'].values[0]
    return val

def get_cost_price(item):
    val = df[item + ' ' + 'Cost Price'].values[0]
    return val

In [21]:
df_psize = pd.read_csv("C:/Playground/bhaiya-orders/zoho-bhor-farms/database/Packing Size.csv")
psize_dict = df_psize.set_index('Item').to_dict(orient='index')

In [22]:
def get_packing_size(item):
    return psize_dict[item]['Size']

def get_unit(item):
    return psize_dict[item]['Unit']

In [23]:
for item in all_items:
    dct = {}
    dct['packing_size'] = get_packing_size(item)
    dct['unit'] = get_unit(item)
    if item == 'Cherry Tomatoes': item = 'Cherry Tomato'
    if item == 'Potatoes': item = 'Potato'
    
    dct['sell_price'] = get_sell_price(item)
    dct['cost_price'] = get_cost_price(item)
    items_dict[item] = dct

## Build Master Dictionary

In [24]:
bldg_cols = df.columns[2:8]
df['building'] = df[bldg_cols].fillna('').sum(axis=1)

In [26]:
df.fillna(0, inplace=True)

In [27]:
# create a mapping from item_id to the corresponding column to make sure no item goes unmapped

item2dropdowncol = {i : '' for i in all_items}

for index, row in df.iterrows():
    for col in df.columns:
        if 'quantity of' in col.lower():
            item2dropdowncol[col[19:]] = col
            
assert len(item2dropdowncol) == len(all_items)
for k, v in item2dropdowncol.items():
    assert len(v) > 3


    {
        key:
        {
            name : str,
            drop_point : str,
            building : str,
            wing : str,
            flat : str,
            phone : numeric,
            email : str,
            delivery_date : datetime,
            order : dict,
            total_amount : float,
            payment_status : str
        }
    }

In [28]:
def get_order(row):
    o = {}
    for item, qty_col in item2dropdowncol.items():
        if row[qty_col] > 0:
            o[item] = row[qty_col]
            
    return o

In [30]:
orders_dict = {}

for index, row in df.iterrows():
    dct = {}
    dct['name'] = row['Name']
    dct['drop_point'] = row['Select Drop Point']
    dct['building'] = row['building']
    dct['wing'] = row['Select Wing']
    dct['flat_no'] = row['Flat No']
    dct['phone_no'] = row['Phone']
    dct['email'] = row['Email']
    dct['delivery_date'] = row['Select Delivery Date']
    dct['total_amount'] = row['Total Amount']
    dct['payment_status'] = row['Payment Status']
    dct['order'] = get_order(row)
    
    orders_dict[row['Token No']] = dct

## Create Listified File

In [31]:
dict_listified = {i : 0 for i in all_items}

In [32]:
for key, value in orders_dict.items():
    for item, qty in value['order'].items():
        dict_listified[item] += qty

In [33]:
df_listified = pd.DataFrame()

df_listified['item'] = all_items
df_listified['packing_size'] = df_listified['item'].apply(lambda x: psize_dict[x]['Size'])
df_listified['num_units'] = df_listified['item'].apply(lambda x: dict_listified[x])
df_listified['weight'] = df_listified.packing_size * df_listified.num_units
df_listified['unit'] = df_listified['item'].apply(lambda x: psize_dict[x]['Unit'])

In [34]:
df_listified

                       item  packing_size  num_units  weight    unit
0                  Potatoes          1.00       37.0   37.00      Kg
1                Red Onions          1.00       46.0   46.00      Kg
2               Cauliflower          1.00       24.0   24.00  Pieces
3                   Cabbage          1.00       20.0   20.00  Pieces
4            Brinjal Bharta          1.00       24.0   24.00  Pieces
5                   Pumpkin          0.50       18.0    9.00      Kg
6            Brinjal Kateri          0.50        5.0    2.50      Kg
7                  Cucumber          0.50       34.0   17.00      Kg
8      Bhindi/Lady's Finger          0.50       34.0   17.00      Kg
9              Bitter Gourd          0.30       13.0    3.90      Kg
10             Sponge Gourd          0.50        8.0    4.00      Kg
11                 Beetroot          0.50        6.0    3.00      Kg
12                   Tondli          0.50       16.0    8.00      Kg
13          Button Mushroom          0.20       10.0    2.00      Kg
14               Raw Banana          0.50        6.0    3.00      Kg
15             Bottle Gourd          1.00       16.0   16.00  Pieces
16               Drumsticks          0.25       15.0    3.75      Kg
17                 Capsicum          0.50       16.0    8.00      Kg
18      Gawar/Cluster Beans          0.30        8.0    2.40      kg
19             French Beans          0.50       20.0   10.00      Kg
20                Baby Corn          0.30        4.0    1.20      Kg
21                   Tomato          1.00       32.0   32.00      Kg
22          Cherry Tomatoes          0.25        2.0    0.50      Kg
23               Sweet Corn          2.00       16.0   32.00  Pieces
24                 Broccoli          0.25        4.0    1.00      Kg
25                  Lettuce          0.25        4.0    1.00      Kg
26        Apples Washington          1.00        8.0    8.00      Kg
27                VNR Guava          1.00       17.0   17.00      Kg
28         Imported Oranges          4.00        1.0    4.00  Pieces
29          Pineapple Whole          1.00        5.0    5.00  Pieces
30     Kiwi Zespri Imported          3.00        5.0   15.00  Pieces
31                   Banana          6.00       13.0   78.00  Pieces
32                   Garlic          0.25        7.0    1.75      Kg
33                   Ginger          0.25       13.0    3.25      kg
34             Green Chilly          0.20       15.0    3.00      kg
35                   Lemons          5.00       29.0  145.00  Pieces
36             Curry Leaves          1.00       15.0   15.00   Bunch
37         Coriander Leaves          0.25       23.0    5.75      Kg
38              Mint Leaves          1.00       14.0   14.00   Bunch
39               Lemongrass          1.00        6.0    6.00   Bunch
40            Palak/Spinach          1.00       14.0   14.00   Bunch
41        Shepu/Dill Leaves          1.00        5.0    5.00   Bunch
42             Methi Leaves          0.35        9.0    3.15      kg
43  Red/Yellow Bell Peppers          4.00        3.0   12.00  Pieces
44           Green Zucchini          1.00        6.0    6.00  Pieces
45          Yellow Zucchini          1.00        3.0    3.00  Pieces
46              Arbi Leaves          6.00       12.0   72.00  Pieces
47             Basil Leaves          0.20        1.0    0.20      Kg
48           Arbi/Colocasia          0.50        8.0    4.00      Kg

## Customerwise

In [35]:
items = ['coconut', 'kiwi']

In [45]:
df_trans = pd.read_excel("C:/Playground/bhaiya-orders/zoho-bhor-farms/database/translations.xlsx")

In [37]:
from fuzzywuzzy import fuzz

def get_match(x, thresh=65):
    x = x.lower()
    rmax = -1
    for k in items: 
        if fuzz.partial_ratio(k, x) > rmax:
            rmax = fuzz.partial_ratio(k, x)

    return rmax > thresh

In [46]:
keys2drop = df_trans[df_trans['Final Item Name'].apply(get_match)]['Final Item Name'].values; keys2drop

array(['Coconut', 'Kiwi Imported', 'Coconut Mangalore Small',
       'Kiwi Imported', ' Coconut Mangalore Big',
       ' Coconut Mangalore Medium', 'Kiwi Imported - Zespri Green'],
      dtype=object)

In [47]:
df_trans = df_trans.set_index('Final Item Name').drop(keys2drop).reset_index()
eng2marathi = df_trans.set_index('Final Item Name').to_dict()['Final Marathi Name']
marathi2eng = df_trans.set_index('Final Marathi Name').to_dict()['Final Item Name']
marathi2eng[np.nan] = ''

In [48]:
def get_trans(x, thresh=85):
    rmax = -1
    trans = ''
    for k in eng2marathi.keys():
        if fuzz.ratio(k, x) > rmax:
            rmax = fuzz.ratio(k, x)
            trans = eng2marathi[k]

    if rmax > thresh:
        return trans
    return np.nan

In [69]:
rows_list = []
for token, o in orders_dict.items():
    for item, qty in o['order'].items():
        row_dct = {}
        row_dct['token_no'] = token
        row_dct['name'] = o['name']
        row_dct['delivery_date'] = o['delivery_date']
        row_dct['item_name'] = item
        row_dct['marathi_name'] = get_trans(item)
        row_dct['num_packets'] = qty
        row_dct['packing_size'] = psize_dict[item]['Size']
        row_dct['final_weight'] = row_dct['num_packets'] * row_dct['packing_size']
        row_dct['unit'] = psize_dict[item]['Unit']
        row_dct['total_amt'] = o['total_amount']
        
        rows_list.append(row_dct)

In [70]:
df_customerwise = pd.DataFrame(rows_list)

In [71]:
df_customerwise.head()

,token_no,name,delivery_date,item_name,marathi_name,num_packets,packing_size,final_weight,unit,total_amt
0,1,Juhi; Sethi,Thursday Aug 20th,Red Onions,कांदा लाल,2.0,1.0,2.0,Kg,948
1,1,Juhi; Sethi,Thursday Aug 20th,Cauliflower,फ्लॉवर,1.0,1.0,1.0,Pieces,948
2,1,Juhi; Sethi,Thursday Aug 20th,Brinjal Bharta,भरता वांगे,2.0,1.0,2.0,Pieces,948
3,1,Juhi; Sethi,Thursday Aug 20th,Pumpkin,डांगर,2.0,0.5,1.0,Kg,948
4,1,Juhi; Sethi,Thursday Aug 20th,Brinjal Kateri,कटेरी वंगे,1.0,0.5,0.5,Kg,948

In [72]:
notranslist = df_customerwise[df_customerwise.marathi_name.isna()].item_name.unique(); notranslist

array(['Kiwi Zespri Imported'], dtype=object)

## Kiwi alag se

In [83]:
save_pth = Path("C:/Playground/bhaiya-orders/zoho-bhor-farms/testop")

In [84]:
ids = set([i.lower()[:4] for i in notranslist])
prefix = "".join(ids)

unavl_pth = save_pth/f'{prefix}-{str(FILE.stem)}.csv'; unavl_pth.stem

'kiwi-BhorFarmsOrderForm_Report (3)'

In [85]:
df_customerwise[df_customerwise.marathi_name.isna()].drop(columns=['marathi_name', 'total_amt']).to_csv(unavl_pth, index=False)

In [86]:
df_customerwise.dropna(subset=['marathi_name'], inplace=True)

## Build Savefile

In [87]:
highlight_col = 'num_packets'

In [88]:
custs = df_customerwise.name + '_' + df_customerwise.token_no.astype(str)
custs = custs.unique()

In [100]:
def f(x):
    col = highlight_col
    r = 'background-color: none'
    g = 'background-color: #37FDFC'
    c = np.where(x[col] > 1, g, r)
    y = pd.DataFrame('', index=x.index, columns=x.columns)
    for h in all_cols:
        y[h] = c
    
    return y

In [101]:
def boldify(x):
    col = 'total_amt'
    n = 'font-weight: normal'
    b = 'font-weight: bold'
    c = np.where(x[col] >= 1000.0, b, n)
    y = pd.DataFrame('', index=x.index, columns=x.columns)
    for h in all_cols:
        y[h] = c
    
    return y

In [102]:
all_cols = df_customerwise.columns

In [103]:
def get_sum_packets(token):
    return sum(orders_dict[token]['order'].values())

In [104]:
fname = save_pth/('customerwise-' + str(FILE.stem) + '.xlsx')

In [113]:
all_data = 0

with pd.ExcelWriter(fname) as writer:
    for cust in custs:
        data = df_customerwise[df_customerwise.name == cust.split('_')[0]]
        data = data[data.token_no == int(cust.split('_')[1])]
        all_data += len(data.index)
        
        data = data.append({'marathi_name': 'TOTAL PACKETS', 'num_packets': get_sum_packets(int(cust.split('_')[1]))}, ignore_index=True)
        styled = data.style.apply(f, axis=None)
        styled = styled.apply(boldify, axis=None)
        styled.to_excel(writer, columns=['token_no', 'name', 'delivery_date', 'item_name', 'marathi_name',
       'num_packets', 'packing_size', 'final_weight', 'unit'], sheet_name=cust[:31], engine='openpyxl', index=False)
        
assert all_data == len(df_customerwise)

## Printout File

In [147]:
# decision for vegetables vs seasonal fruits

In [140]:
def is_trans(x, thresh=85):
    rmax = -1
    trans = ''
    for k in eng2marathi.keys():
        if fuzz.ratio(k, x) > rmax:
            rmax = fuzz.ratio(k, x)
            trans = eng2marathi[k]

    return rmax > thresh

In [141]:
translations = [is_trans(i) for i in all_items]

In [153]:
pipe_separated = sum(translations)/len(translations) < 0.4 # less than 40% translations are present

In [155]:
rows_list = []
for token, o in orders_dict.items():
    row_dct = {}
    row_dct['token_no'] = token
    row_dct['name'] = o['name']
    row_dct['drop_point'] = o['drop_point']
    row_dct['building'] = o['building']
    row_dct['wing'] = o['wing']
    row_dct['flat_no'] = o['flat_no']
    row_dct['phone_no'] = o['phone_no']
    row_dct['email'] = o['email']
    row_dct['num_packets'] = get_sum_packets(token)
    row_dct['total_amount'] = o['total_amount']
    
    rows_list.append(row_dct)

In [156]:
df_print_sudeep = pd.DataFrame(rows_list)

In [157]:
df_print_sudeep.head()

,token_no,name,drop_point,building,wing,flat_no,phone_no,email,num_packets,total_amount
0,1,Juhi; Sethi,Ajmera iLand,Zeon,B Wing,0,9967052439,Aqua1379@gmail.com,23.0,948
1,2,Lynet; Fernandes,Cosmic,Comet,C Wing,203,9821141846,Fernandeslynet@gmail.com,11.0,354
2,3,Carrieanne; Rodrigues,Cosmic,Comet,C Wing,0,9819448185,carriesavio@gmail.com,15.0,664
3,4,Pratima; Shahiwalla,Cosmic,Cosmic Heights,A Wing,1805,8291999397,Pratimashahiwalla@gmail.com,13.0,376
4,5,Poonam; Shwh,Cosmic,Cosmic Heights,A Wing,1704,9833627878,poonam15172000@gmail.com,11.0,355

In [ ]:
def get_pipe_sep_orders(token):

In [ ]:
rows_list = []
for token, o in orders_dict.items():
    row_dct = {}
    row_dct['token_no'] = token
    row_dct['name'] = o['name']
    row_dct['drop_point'] = o['drop_point']
    row_dct['building'] = o['building']
    row_dct['wing'] = o['wing']
    row_dct['flat_no'] = o['flat_no']
    row_dct['phone_no'] = o['phone_no']
    row_dct['email'] = o['email']
    row_dct['num_packets'] = get_sum_packets(token)
    row_dct['total_amount'] = o['total_amount']
    
    rows_list.append(row_dct)

In [158]:
styled